# SPDX-License-Identifier: MIT-0
---
# tasks file for prepare-server

- name: Update and upgrade apt packages
  ansible.builtin.apt:
    upgrade: "{{ apt_upgrade | default('safe') }}"
    update_cache: "{{ update_package_cache | default(true) }}"
    cache_valid_time: "{{ apt_cache_valid_time | default(3600) }}"
    autoremove: "{{ apt_autoremove | default(true) }}"
    autoclean: "{{ apt_autoclean | default(true) }}"

- name: Install baseline packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: "{{ state.present }}"
    update_cache: "{{ omit }}"
  loop:
    "{{ base_packages }}"
  loop_control:
    label: "{{ item }}"

- name: Set timezone to Europe/Moscow
  community.general.timezone:
    name: "{{ name_timezone }}"
