# SPDX-License-Identifier: MIT-0
---
# tasks file for creating-users-and-groups

- name: Create groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: "{{ state_present }}"
  loop: "{{ user_groups }}"
  loop_control:
    label: "{{ item }}"
  register: grp

- name: Show creation status for each group
  ansible.builtin.debug:
    msg: "Group {{ item.item }} {{ 'created' if item.changed else 'already exists' }}"
  loop: "{{ grp.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: Create users with temporary passwords
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ item.group }}"
    shell: "{{ item.shell }}"
    create_home: "{{ item.create_home }}"
    password: "{{ 'Temp123' | password_hash('sha512') }}"
    password_expire_max: "{{ password_policy.max_days }}"
    password_expire_min: "{{ password_policy.min_days }}"
    password_expire_warn: "{{ password_policy.warn_days }}"
    password_expire_account_disable: "{{ password_policy.inactive_days }}"
    state: "{{ state_present }}"
  loop: "{{ users }}"
  loop_control:
    label: "{{ item.username }}"

- name: Force password change on first login
  ansible.builtin.command:
    cmd: "chage -d 0 {{ item.username }}"
  loop: "{{ users }}"
  loop_control:
    label: "{{ item.username }}"
  when: item.first_login_change
  changed_when: true
